body {
    background-color: #ffb22e;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, rgba(0, 224, 207, 0.45702030812324934) 0%, rgba(0, 212, 255, 0.8547794117647058) 51%, rgba(0, 241, 255, 1) 100%);
    border: solid 1px;
    position: fixed;
    width: 100%;
    z-index: 2;
}

img {
    max-height: 150px;
    max-width: 150px;
    width: 20%;
}

a {
    width: 85px;
    height: 40px;
    display: inline-block;
    margin-right: 80px;
    border-radius: 30px;
    background-color: rgb(119, 248, 255);
    text-align: center;
    text-decoration: none;
    color: rgb(12, 10, 54);
    box-shadow: 3px 2px 6px black;
}